{% extends 'mariem_front.html.twig' %}
{% block body %}



    {# ######################################################################### LES Velos ############################################################################ #}

    <div data-elementor-type="product-archive" data-elementor-id="903" class="elementor elementor-903 elementor-location-archive product" data-elementor-settings="[]">
        <div class="elementor-section-wrap">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-684848e1 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="684848e1" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d87b389" data-id="d87b389" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">


                                    <div class="elementor-element elementor-element-3976de38 premium-header-block animated-slow elementor-hidden-phone elementor-invisible elementor-widget elementor-widget-premium-addon-dual-header" data-id="3976de38" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:500}" data-widget_type="premium-addon-dual-header.default">
                                        <div class="elementor-widget-container">

                                            <div class="premium-dual-header-container">
                                                <div class="premium-dual-header-first-container">
                                                    <h2 class="premium-dual-header-first-header premium-dual-header-first-clip stroke gradient"><span class="premium-dual-header-first-span">VELOS </span><span class="premium-dual-header-second-header "></span></h2> 		</div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="elementor-element elementor-element-7165d4a elementor-widget elementor-widget-heading" data-id="7165d4a" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">

                                            <h2 class="elementor-heading-title elementor-size-default">Consulter La section des Velos</h2>		</div>
                                    </div>
                                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-f32afa8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f32afa8" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-background-overlay"></div>
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f171a75" data-id="f171a75" data-element_type="column">
                                                    <div class="elementor-column-wrap">
                                                        <div class="elementor-widget-wrap">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-469786a" data-id="469786a" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-7bb1a04c elementor-widget elementor-widget-text-editor" data-id="7bb1a04c" data-element_type="widget" data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-e27f73c" data-id="e27f73c" data-element_type="column">
                                                        <div class="elementor-column-wrap">
                                                            <div class="elementor-widget-wrap">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-60f0b6b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="60f0b6b" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2bb768e" data-id="2bb768e" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-e9d5c94 premium-header-block animated-slow elementor-hidden-phone elementor-invisible elementor-widget elementor-widget-premium-addon-dual-header" data-id="e9d5c94" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="premium-addon-dual-header.default">
                                            <div class="elementor-widget-container">

                                                <div class="premium-dual-header-container">


                                                </div>
                                            </div>

                                           <button><a href={{ path('trip') }}>Trier Par Prix</a></tr></button>
                                            <section class="elementor-section elementor-top-section elementor-element elementor-element-2488794 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2488794" data-element_type="section">
                                                <div class="elementor-element elementor-element-a19bd8d elementor-product-loop-item--align-center elementor-products-columns-4 elementor-products-grid elementor-wc-products elementor-show-pagination-border-yes elementor-widget elementor-widget-woocommerce-products" data-id="a19bd8d" data-element_type="widget" data-widget_type="woocommerce-products.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="woocommerce columns-4 ">


                                                            <div class="woocommerce-notices-wrapper">

                                                            </div>
                                                            <ul class="products columns-4">
                                                                {% for produit in Produits %}
                                                                    {% if produit.type=="Velo" %}
                                                                        <li class="product type-product post-1099 status-publish first instock product_cat-ergo-mtb has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                                                            <img style="width: 300%" src="{{asset('img/bike/') ~ produit.image }}" class="img-responsive" alt="Image">
                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><bdi></span>{{ produit.prix }}</bdi> Dt</span></span>
                                                                            <h2 class="woocommerce-loop-product__title">{{ produit.libelle }}</h2>
                                                                            </a><a href="index639b.html?add-to-cart=1099" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="1099" data-product_sku="SKU.01-EX450-5" aria-label="Add &ldquo;Genius Trail JX-100&rdquo; to your cart" rel="nofollow">{{ produit.description }}</a>
                                                                            <br>
                                                                            <a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon elementor-align-icon-right">
				<i aria-hidden="true" class="fas fa-arrow-right"></i>
                        </span>
                              <span onclick="window.location.href ='/PI_3A40_21_SMARTIES/pi/public/index.php/produit/explore_produit/{{produit.id}}'"><span class="elementor-button-text">EXPLORE</span></span>

		</span>

                                                                            </a>
                                                                        </li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <div class="pagination">
                                                {{ knp_pagination_render(Produits) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



{% endblock %}