{% extends 'base_front.html.twig' %}

{% block title %}Location{% endblock %}

{% block body %}

    <div class="elementor-section elementor-top-section elementor-element elementor-element-5b549ae elementor-section-boxed elementor-section-height-default elementor-section-height-default">
        <form action="" method="GET">
            <input type="search" id="site-search" name="search" placeholder="recherche via le type"
                   aria-label="Search through site content">

            <button type="submit">Search</button>

        </form><br>
        {% if app.user %}
            <div class="elementor-row">
            </div>
            <div> <div>       &nbsp;  &nbsp;  &nbsp;  &nbsp;
                    <a href={{ path('trierpartypelocation') }}>Trier Les dates des locations </a>
                </div></div>

            <div class="elementor-container elementor-column-gap-default">
                <table class="table">

                    <thead>
                    <th>Reference</th>
                    <th>Date</th>
                    <th>Heure</th>
                    <th>Duree</th>
                    </thead>
                    <tbody>
                    {% for location in locations %}
                        {% if location.idUser.id == app.user.id %}
                            <tr>
                                <td>{{ location.id }}</td>
                                <td>{{ location.date ? location.date|date('Y-m-d') : '' }}</td>
                                <td>{{ location.heure ? location.heure|date('H:m') : ''}}</td>
                                <td>{{ location.duree }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>

            </div>
           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
           &nbsp; &nbsp; &nbsp; 
            <a href={{ path('pdflocation') }}>Telechrager Vos Locations</a></tr>




        {% else %}
            <p>Veuillez vous connecter</p>
        {% endif %}


    </div>
    </div>

{% endblock %}
{% block jstable %}


{% endblock %}
