{% extends 'base_front.html.twig' %}
{% block testcss %}

    <!-- Flashy depends on jQuery -->
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
{% endblock %}

{% block title %}Reclamation{% endblock %}

{% block body %}

    <div class="elementor-section elementor-top-section elementor-element elementor-element-5b549ae elementor-section-boxed elementor-section-height-default elementor-section-height-default">

            {% if app.user %}
                <link rel='stylesheet' id='hello-elementor-css'  href='../wp-content/themes/hello-elementor/style.min8066.css?ver=2.4.1' type='text/css' media='all' />

                {%  if flash  %}
                {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
                 {% endif %}
                <div class="elementor-row">
                <div class="elementor-container elementor-column-gap-default">

                    <p></p><a href={{ path("reclamation_front_new") }}>Envoyer une reclamation</a>
                </div>

        </div>


            <a href={{ path('trid') }}>Trier Par Date</a></tr>

            <div class="elementor-container elementor-column-gap-default">
                <table class="table">

                    <thead>
                    <th>Reference</th>
                    <th>Date d'envoi</th>
                    <th>Objet</th>
                    <th>Description</th>
                    </thead>
                    <tbody>
                    {% for reclamation in reclamations %}
                        {% if reclamation.idUser.id == app.user.id %}
                            <tr>
                                <td>{{ reclamation.id }}</td>
                                <td>{{ reclamation.date ? reclamation.date|date('Y-m-d') : '' }}</td>
                                <td>{{ reclamation.objet }}</td>
                                <td>{{ reclamation.description }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
        </div>

                <a href={{ path('pdfr') }}>Voir Vos Reclamation en PDF</a>




            {% else %}
                <p>Veuillez vous connecter</p>
            {% endif %}
        <label for="site-search">Rechercher Le Nombre Du Commande:</label>

        <form action="" method="GET">
            <input type="search" id="site-search" name="search"
                   aria-label="Search through site content">
            <button type="submit">Rechercher Par Refernce</button>
        </form>
        <tr>


            <td colspan="6" class="actions">
                <a href={{ path('triha') }}>Trier Par Reference</a></tr>
    </div>
    </div>

{% endblock %}
{% block jstable %}


{% endblock %}
