{% extends 'base_front.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
    <link rel='stylesheet' id='elementor-post-518-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-518fcdd.css") }} type='text/css' media='all'/>
    <div data-elementor-type="single-page" data-elementor-id="518"
         class="elementor elementor-518 elementor-location-single post-520 page type-page status-publish hentry"
         data-elementor-settings="[]">
        <div class="elementor-section-wrap">
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-2c60c45 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="2c60c45" data-element_type="section"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-656cb3e"
                             data-id="656cb3e" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-331d283 premium-header-block animated-slow elementor-hidden-tablet elementor-hidden-phone elementor-invisible elementor-widget elementor-widget-premium-addon-dual-header"
                                         data-id="331d283" data-element_type="widget"
                                         data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                                         data-widget_type="premium-addon-dual-header.default">
                                        <div class="elementor-widget-container">

                                            <div class="premium-dual-header-container">
                                                <div class="premium-dual-header-first-container">
                                                    <h2 class="premium-dual-header-first-header premium-dual-header-first-clip stroke gradient">
                                                        <span class="premium-dual-header-first-span">FORUM </span><span
                                                                class="premium-dual-header-second-header "></span></h2>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-4119e08 elementor-widget elementor-widget-text-editor"
                                         data-id="4119e08" data-element_type="widget"
                                         data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix">
                                                <h2>FORUM DE DISCUSSION</h2></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-5b549ae elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="5b549ae" data-element_type="section"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-f5b5a90"
                             data-id="f5b5a90" data-element_type="column"
                             data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-background-overlay"></div>
                                <div class="elementor-widget-wrap">
                                    <section
                                            class="elementor-section elementor-inner-section elementor-element elementor-element-b4c3cbb elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                            data-id="b4c3cbb" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-d5455e5"
                                                     data-id="d5455e5" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-5416c65 elementor-view-default elementor-widget elementor-widget-icon"
                                                                 data-id="5416c65" data-element_type="widget"
                                                                 data-widget_type="icon.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-icon-wrapper">
                                                                        <div class="elementor-icon">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-70f897b"
                                                     data-id="70f897b" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-7242c06 elementor-widget elementor-widget-text-editor"
                                                                 data-id="7242c06" data-element_type="widget"
                                                                 data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix">
                                                                    <span class="elementor-button-content-wrapper">
                                                                        <a href={{ path('tridate') }}>Tri date</a>
                                                                            <div class="elementor-widget-wrap"></div>
                                                                        <a href={{ path('trivues') }}>Tri nombre vues</a>
                                                                            <div class="elementor-widget-wrap"></div>
                                                                        <a href={{ path('trireponse') }}>Tri nombre reponses</a>
                                                                            <div class="elementor-widget-wrap"></div>
                                                                    </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-903357d"
                             data-id="903357d" data-element_type="column"
                             data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-99bd057 elementor-align-center elementor-widget elementor-widget-button"
                                         data-id="99bd057" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            {% if (app.user)  and (app.user.image == 'banned') %}
                                                <div class="elementor-button-wrapper">
                                                    <a href="{{ path("app_logout") }}"
                                                       class="elementor-button-link elementor-button elementor-size-sm"
                                                       role="button">
						<span class="elementor-button-content-wrapper">

						<span class="elementor-button-text">Vous etes banni</span>
		</span>
                                                    </a>
                                                </div>
                                            {% elseif (app.user)  and (app.user.image == 'non') %}
                                                <div class="elementor-button-wrapper">
                                                    <a href="{{ path("app_logout") }}"
                                                       class="elementor-button-link elementor-button elementor-size-sm"
                                                       role="button">
						<span class="elementor-button-content-wrapper">

						<span class="elementor-button-text">Vous devez confirmer votre compte</span>
		</span>
                                                    </a>
                                                </div>
                                            {% elseif app.user %}
                                                <div class="elementor-button-wrapper">
                                                    <a href="{{ path("sujet_new_front") }}"
                                                       class="elementor-button-link elementor-button elementor-size-sm"
                                                       role="button">
						<span class="elementor-button-content-wrapper">

						<span class="elementor-button-text">CREER UN POST</span>

		</span>
                                                    </a>

                                                </div>

                                            {% else %}
                                                <div class="elementor-button-wrapper">
                                                    <a href="{{ path("app_login") }}"
                                                       class="elementor-button-link elementor-button elementor-size-sm"
                                                       role="button">
						<span class="elementor-button-content-wrapper">

						<span class="elementor-button-text">Se connecter</span>
		</span>
                                                    </a>
                                                </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-330db02 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="330db02" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-66fc9aa">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <form action="" method="GET">
                                    <input type="search" id="site-search"
                                           name="search"
                                           placeholder="recherche via le titre"
                                           aria-label="Search through site content">
                                    <button type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-38451a8">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-eff454a elementor-widget elementor-widget-text-editor"
                                         data-id="eff454a" data-element_type="widget"
                                         data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f8484e9"
                             data-id="f8484e9" data-element_type="column"
                             data-settings="&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-column-wrap elementor-element-populated">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% for sujet in sujets %}
                <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-330db02 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="330db02" data-element_type="section">
                    <div class="elementor-background-overlay"></div>
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-66fc9aa"
                                 data-id="66fc9aa" data-element_type="column"
                                 data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-background-overlay"></div>
                                    <div class="elementor-widget-wrap">
                                        <section
                                                class="elementor-section elementor-inner-section elementor-element elementor-element-0e048ef elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                data-id="0e048ef" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-fb36d63"
                                                         data-id="fb36d63" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-7a69b99 elementor-widget elementor-widget-text-editor"
                                                                     data-id="7a69b99" data-element_type="widget"
                                                                     data-widget_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <h3>
                                                                                <span styl
                                                                                      e="color: var( --e-global-color-secondary );">{{ sujet.titre }}</span>
                                                                            </h3></div>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-6afa581 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                                                     data-id="6afa581" data-element_type="widget"
                                                                     data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul class="elementor-icon-list-items">
                                                                            <li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="far fa-calendar-alt"></i>						</span>
                                                                                <span class="elementor-icon-list-text">Posté le {{ sujet.date|date("d/M/y") }} <br>par {{ sujet.IdUser.email }} <br>Vues: {{ sujet.nbVues }} <br> Reponses {{ sujet.nbReponses }}</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-38451a8"
                                 data-id="38451a8" data-element_type="column"
                                 data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-eff454a elementor-widget elementor-widget-text-editor"
                                             data-id="eff454a" data-element_type="widget"
                                             data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-text-editor elementor-clearfix">
                                                    <span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon elementor-align-icon-right">
				<i aria-hidden="true" class="fas fa-arrow-alt-circle-right"></i>			</span>
						<a href="{{ path('sujet_show_front', {'id': sujet.id}) }}"><span class="elementor-button-text">Voir sujet </span></a>
		</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f8484e9"
                                 data-id="f8484e9" data-element_type="column"
                                 data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-7ceb8cb elementor-align-center elementor-widget elementor-widget-button"
                                             data-id="7ceb8cb" data-element_type="widget"
                                             data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a href="#"
                                                       class="elementor-button-link elementor-button elementor-size-sm"
                                                       role="button">

                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-7ceb8cb elementor-align-center elementor-widget elementor-widget-button"
                                             data-id="7ceb8cb" data-element_type="widget"
                                             data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a href="#"
                                                       class="elementor-button-link elementor-button elementor-size-sm"
                                                       role="button">
						<span class="elementor-button-content-wrapper">

                            {% if app.user %}
                                {% if (app.user.image == 'banned') and ( app.user.id == sujet.IdUser.id ) %}
                                    <a href={{ path('app_logout') }}>Vous etes banni</a>
                                {% elseif app.user.id == sujet.IdUser.id %}


                                    <form method="post" action="{{ path('sujet_delete_front', {'id': sujet.id}) }}"
                                          onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sujet.id) }}">
    <button class="btn">Supprimer</button>
</form>

                                    <form method="post" action="{{ path('sujet_front_edit', {'id': sujet.id}) }}">
    <button class="btn">Modifier</button>
</form>

                                {% endif %}
                            {% endif %}

		</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% endfor %}
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-8713d00 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="8713d00" data-element_type="section"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1b41f80"
                             data-id="1b41f80" data-element_type="column"
                             data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-e5599a9 elementor-align-center animated-slow elementor-invisible elementor-widget elementor-widget-button"
                                         data-id="e5599a9" data-element_type="widget"
                                         data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                                         data-widget_type="button.default">
                                        <div class="elementor-widget-container">

                                            <div class="navigation">
                                                {{ knp_pagination_render(sujets) }}
                                            </div>
                                            </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </section>


    </div>
    </div>
{% endblock %}
