{% extends 'base_front.html.twig' %}

{% block testcss %}
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-1452b6.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-1476a16c.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-252b6.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-338dc2.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-40a594.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-468a594.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-46a8f0.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-47112d9.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-518fcdd.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-572d77a.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-58658c0.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-6026d2f.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-623e6ca.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-62942fe.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-6659278.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-67227b7.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-697cb92.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-721ff41.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-77631ed.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-7996637.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-903e457.css") }} type='text/css' media='all'/>
    <link rel='stylesheet' id='elementor-post-776-css'
          href={{ asset("wp-content/uploads/sites/7/elementor/css/post-92070f2.css") }} type='text/css' media='all'/>
{% endblock %}

{% block body %}

    <div data-elementor-type="single-post" data-elementor-id="776"
         class="elementor elementor-776 elementor-location-single post-704 post type-post status-publish format-standard has-post-thumbnail hentry category-tips-and-tricks category-urban-ride tag-ergo-tips tag-how-to"
         data-elementor-settings="[]">
        <div class="elementor-section-wrap">
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-42fca99 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="42fca99" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d63223f"
                             data-id="d63223f" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-d835ce9 elementor-widget elementor-widget-theme-post-featured-image elementor-widget-image"
                                         data-id="d835ce9" data-element_type="widget"
                                         data-widget_type="theme-post-featured-image.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-image">
                                                <img width="1200" height="800"
                                                     src={{ asset("wp-content/uploads/sites/7/2021/02/Bike-Race.jpg") }} class="attachment-full
                                                     size-full" />
                                            </div>
                                        </div>
                                    </div>
                                    <section
                                            class="elementor-section elementor-inner-section elementor-element elementor-element-7cc6bee elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                            data-id="7cc6bee" data-element_type="section"
                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-11d7a96"
                                                     data-id="11d7a96" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-fe52cb2 elementor-align-center elementor-widget elementor-widget-elementskit-category-list"
                                                                 data-id="fe52cb2" data-element_type="widget"
                                                                 data-widget_type="elementskit-category-list.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="ekit-wid-con">
                                                                        <ul class="elementor-icon-list-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <span class="elementor-icon-list-text">{{ sujet.titre }}</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-158a01f elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading"
                                                                 data-id="158a01f" data-element_type="widget"
                                                                 data-widget_type="theme-post-title.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">A</h2></div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-2de4cf8 elementor-align-center elementor-widget elementor-widget-post-info"
                                                                 data-id="2de4cf8" data-element_type="widget"
                                                                 data-widget_type="post-info.default">
                                                                <div class="elementor-widget-container">
                                                                    <ul class="elementor-inline-items elementor-icon-list-items elementor-post-info">
                                                                        <li class="elementor-icon-list-item elementor-repeater-item-aa2554e elementor-inline-item"
                                                                            itemprop="author">

														<span class="elementor-icon-list-text elementor-post-info__item elementor-post-info__item--type-author">
										                    {{ sujet.IdUser.email }}					</span>

                                                                        </li>
                                                                        <li class="elementor-icon-list-item elementor-repeater-item-4cb5314 elementor-inline-item"
                                                                            itemprop="datePublished">
														<span class="elementor-icon-list-text elementor-post-info__item elementor-post-info__item--type-date">
										{{ sujet.Date ? sujet.Date|date('Y-m-d') : '' }}					</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                    <div class="elementor-element elementor-element-15407e5 elementor-widget elementor-widget-theme-post-content"
                                         data-id="15407e5" data-element_type="widget"
                                         data-widget_type="theme-post-content.default">
                                        <div class="elementor-widget-container">
                                            <p>{{ sujet.contenu }}</p>
                                        </div>
                                        {% if (app.user)  and (app.user.image == 'banned') %}
                                        <a href={{ path('app_logout')}}>
                                            <span class="elementor-icon-list-text">Vous etes banni</span>
                                        </a>
                                        {% elseif (app.user)  and (app.user.image == 'non') %}
                                        <a href={{ path('app_logout')}}>
                                            <span class="elementor-icon-list-text">Vous devez confirmer votre compte</span>
                                        </a>

                                        {% elseif app.user %}
                                        <a href={{ path('message_new_front', { 'sujet': sujet , 'id' : sujet.id }) }}>
                                            <span class="elementor-icon-list-text">Repondre</span>
                                        </a>
                                    </div>
                                        {% endif %}

                                    <div data-elementor-type="single-page" data-elementor-id="602"
                                         class="elementor elementor-602 elementor-location-single post-524 page type-page status-publish hentry"
                                         data-elementor-settings="[]">
                                        <div class="elementor-section-wrap">
                                            <section
                                                    class="elementor-section elementor-top-section elementor-element elementor-element-2a15337 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                    data-id="2a15337" data-element_type="section">
                                            {% for msg in sujet.getMessages() %}
                                                <div class="elementor-container elementor-column-gap-default">
                                                    <div class="elementor-row">
                                                        <div class="elementor-column elementor-col- elementor-top-column elementor-element elementor-element-0380e83"
                                                             data-id="0380e83" data-element_type="column"
                                                             data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-0295b05 elementor-view-default elementor-widget elementor-widget-icon"
                                                                         data-id="0295b05" data-element_type="widget"
                                                                         data-widget_type="icon.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-icon-wrapper">
                                                                                <div class="elementor-icon">
                                                                                    <i aria-hidden="true"
                                                                                       class="icon icon-quote1"></i>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-290f745 elementor-widget elementor-widget-text-editor">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                                {{ msg.contenu }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-1b91dc6 elementor-widget elementor-widget-testimonial"
                                                                         data-id="1b91dc6" data-element_type="widget"
                                                                         data-widget_type="testimonial.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-testimonial-wrapper">
                                                                                <div class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                                                                    <div class="elementor-testimonial-meta-inner">
                                                                                        <div class="elementor-testimonial-image">
                                                                                            <img width="200"
                                                                                                 height="200"
                                                                                                 src={{ asset("wp-content/uploads/sites/7/2021/02/Testimonial02.1.png") }} class="attachment-full size-full" />
                                                                                        </div>

                                                                                        <div class="elementor-testimonial-details">
                                                                                            <div class="elementor-testimonial-name">{{ msg.idUser.email }}</div>
                                                                                            <div class="elementor-testimonial-job">{{ msg.date|date("d/m/y") }}</div>
                                                                                            {% if app.user %}
                                                                                                {% if app.user.image == 'banned' %}
                                                                                                <a href=path("app_logout")>Vous etes banni</a>
                                                                                                {% elseif app.user.id == msg.IdUser.id %}
                                                                                                    <span class="elementor-button-icon elementor-align-icon-right"></span>
                                                                                                    <form method="post" action="{{ path('message_front_edit', {'id': msg.id}) }}">
                                                                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ msg.id) }}">
                                                                                                        <button class="btn">Modifier</button>
                                                                                                    </form>
                                                                                                    <form method="post" action="{{ path('message_front_delete', {'id': msg.id}) }}"
                                                                                                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ msg.id) }}">
                                                                                                        <button class="btn">Supprimer</button>
                                                                                                    </form>
                                                                                                {% endif %}
                                                                                            {% endif %}
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </section>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}