{% extends 'base_front.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
    <link rel='stylesheet' id='elementor-post-629-css'  href={{ asset('wp-content/uploads/sites/7/elementor/css/post-62942fe.css?ver=1637284150')}} type='text/css' media='all' />
    <div data-elementor-type="single-page" data-elementor-id="629" class="elementor elementor-629 elementor-location-single post-528 page type-page status-publish hentry" data-elementor-settings="[]">
        <div class="elementor-section-wrap">


            <section class="elementor-section elementor-top-section elementor-element elementor-element-20aebbf elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="20aebbf" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4e52915" data-id="4e52915" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-5d69006 premium-header-block animated-slow elementor-hidden-phone elementor-invisible elementor-widget elementor-widget-premium-addon-dual-header" data-id="5d69006" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="premium-addon-dual-header.default">
                                        <div class="elementor-widget-container">

                                            <div class="premium-dual-header-container">
                                                <div class="premium-dual-header-first-container">
                                                    <h2 class="premium-dual-header-first-header premium-dual-header-first-clip stroke gradient"><span class="premium-dual-header-first-span">Création </span><span class="premium-dual-header-second-header "></span></h2> 		</div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-8cb0e33 elementor-widget elementor-widget-text-editor" data-id="8cb0e33" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix">
                                                <h2>Creer un compte</h2>					</div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-c0e4942 elementor-widget elementor-widget-text-editor" data-id="c0e4942" data-element_type="widget" data-widget_type="text-editor.default">
                                    </div>
                                    <div class="elementor-element elementor-element-784be66 elementor-button-align-center elementor-widget elementor-widget-form" data-id="784be66" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
                                            {{ form_start(form ) }}
                                            <div class="elementor-form-fields-wrapper elementor-labels-above">
                                                <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
                                                    {{ form_errors(form.email) }}
                                                    {{ form_widget(form.email, {'attr': {'size':"1", 'type':"text",  'class':"elementor-field elementor-size-sm  elementor-field-textual form-control" ,'placeholder':"Email"}}) }}

                                                </div>
                                                <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
                                                    {{ form_errors(form.idUser) }}
                                                    {{ form_widget(form.idUser, {'attr': {'size':"1", 'type':"password",  'class':"elementor-field elementor-size-sm  elementor-field-textual form-control" ,'placeholder':"Mot de passe"}}) }}

                                                </div>
                                                <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
                                                         {{ form_errors(form.nom) }}
                                                        {{ form_widget(form.nom, {'attr': {'size':"1", 'type':"text", 'class':"elementor-field elementor-size-sm  elementor-field-textual form-control" ,'placeholder':"Nom"}}) }}
                                                    </div>
                                                    <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
                                                        {{ form_errors(form.prenom) }}
                                                        {{ form_widget(form.prenom, {'attr': {'size':"1", 'type':"text", 'class':"elementor-field elementor-size-sm  elementor-field-textual form-control" ,'placeholder':"Prenom"}}) }}
                                                    </div>

                                                    <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
                                                        {{ form_errors(form.adresse) }}
                                                        {{ form_widget(form.adresse, {'attr': {'size':"1", 'type':"text", 'class':"elementor-field elementor-size-sm  elementor-field-textual form-control" ,'placeholder':"Adresse"}}) }}
                                                    </div>


															 <button class="btn">{{ button_label|default('Save') }}</button>
                                                </div>
                                            </div>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}